@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container{
	padding: 0px;
	
}
.row{
	margin: 0px;
}
/*celular*/
@media screen and (max-width:1000px) {
	.home-right img {
		margin: 5% auto;
		visibility: hidden;
		height: 25px;

	}



	.home-left {

		width: 100%;
		margin: 30% 0% 5%;
		text-align: center;

	}

	.curriculo {
		margin: 0 auto;
	}

	/* From uiverse.io */
	button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	}

	button.learn-more {
		width: 12rem;
		height: auto;
	}

	button.learn-more .circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background: #282936;
		border-radius: 1.625rem;
	}

	button.learn-more .circle .icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
	}

	button.learn-more .circle .icon.arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	}

	button.learn-more .circle .icon.arrow::before {
		position: absolute;
		content: "";
		top: -0.29rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid #fff;
		border-right: 0.125rem solid #fff;
		transform: rotate(45deg);
	}

	button.learn-more .button-text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color: #282936;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	}

	button:hover .circle {
		width: 100%;
	}

	button:hover .circle .icon.arrow {
		background: #fff;
		transform: translate(1rem, 0);
	}

	button:hover .button-text {
		color: #fff;
	}

	.separator {
		width: 100%;
	}


	.about-container {
		display: block;
	}



	.about-right h2 {
		text-align: center;

	}

	.about-right p {
		text-align: center
	}

	div#sobre {
		height: "";
	}

	#section-ptf {
		height: "";
	}

	.about-left .about-img {

		width: 400px;
		height: 3px;
		
	}

	#section-contato {
		height: "";
	}

	.contato-right {
		margin-top: 10%;
		margin-left: 25%;
	}

	#container-footer {
		height: "";
	}

	.contato-row-5 {

		margin-bottom: 50px;
	}

	.button_enivar {
		margin-left: 25px;
	}

	#container-footer p {
		text-align: center;
	}

	.about-section-title {
		margin-bottom: -20px;
	}

	.about-right-habilidade {
		margin: 0 auto;
	}
	.border{
		display: none;
	}
	.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc{
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	   }
   
	.desc_projetos .bloco .bloco-1 .bloco-1-1 .projeto{
		width:100%;
		text-align: center;
	}
	


}

/*desktop*/
@media screen and (min-width:1000px) {
	.home-right img {
		margin: 40% auto;
		
	}



	.home-left {

		width: 100%;
		margin-top: 16%;
		margin-bottom: 0%;
		max-width: 50%;
		padding-left: 5%;
		margin-left: 3%;

	}

	.separator {
		width: 70%;
	}

	.about-container {
		display: flex;
	}

	.about-left {
		
	}


	.about-left .about-img {

		width: 500px;
		height: 400px;

	}

	#section-ptf {}



	.contato-container {
		display: flex;

	}

	#container-footer {
		height: 50%;

	}

	.about-right {
		padding-left: 50px;
		padding-top: 60px;
		

	}

	.home-right img {
		
		opacity: 0;
		animation: moveToleft 0.7s 1s forwards;
		display: block;
	   margin-left: 50px;

	}
	.desc_projetos .bloco .bloco-1 .bloco-1-1 .projeto{
		width: 74%;
	}
	
	.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc{
	 width: 25%;
	 margin-right: 10px;
	}
	.desc_projetos .bloco .bloco-2 .group-card{
	
		width: 70%;
		
	}

}




@keyframes moveToTop {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes moveToleft {
	0% {
		transform: translatex(100px);
	}

	100% {
		transform: translatex(0);
		opacity: 1;
	}
}





div.container {
	width: 100%;
	height: 100%;

}

/*problema*/
div#home {
	background-color: #051827;
	justify-content: center;
	position: relative;
	align-items: center;
	

}

.home-1 {
	max-width: 1300px;
	margin: 0 auto;


}

.shadow {
	position: absolute;
	width: 100%;
	height: 105px;
	bottom: 0%;
	left: 0;
	z-index: 2;
	background: linear-gradient(to top, #011d31, transparent);

}

#principal-nav {
	background-color: #f86a78;
	border: 0px;
	box-shadow: 2px 5px 20px 10px;
}

#principal-nav li a {
	color: white;
}


#log_whats {
	margin-top: 13px;
	font-size: 25;
	color: white;
}


.home-left {
	position: relative;
	display: block;
	animation: moveToTop 0.7s 1s forwards;
	opacity: 0;
	margin-left: 0;
	padding: 0px;


}

.home-left h1 {
	color: #e5e5e5;
	width: 100%;
	font-size: 50px;
}

.home-left h3 {
	color: #f86a78;
	width: 100%;
	font-size: 30px;
}

.home-left p {
	color: #e5e5e5;
	width: 100%;
	font-size: 1.1em
}

.separator {
	border: 0.1px solid white;
	margin-bottom: 5px;
}

.home-linguagem i {
	color: #e5e5e5;
	font-size: 25;
	margin-top: 5px;
	margin-right: 10px;
}

.icone {
	margin-bottom: 25px;
	cursor: pointer;

}

.icone i {
	transition: all 0.2s ease-out;
}

.icone i:hover {
	transform: scale(1.3);

}

.curriculo {
	border: 1px solid white;
	width: 170px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.curriculo:hover {
	background-color: #f86a78;
	color: aliceblue;
}



.curriculo a {
	font-size: 22px;
	display: block;
	text-decoration: none;
	color: #e5e5e5;

}

.curriculo a:hover {
	transform: scale(1.09);
	transition: all 0.2s ease-out;
	color: white;
}

.home-right {
	margin-top: 0%;


}
.home-right img{


	
	
}

.border{
	border-radius: 53% 47% 52% 48% / 50% 74% 26% 50% ;
	background-color:darkgray;
	filter: drop-shadow(0px 2px 200px);
	animation: moveToTop 0.7s 1s forwards;
	opacity: 0;
	
}


/*2 section*/
div#sobre {
	background-color: #051827;
	padding: 10%;

	
}

.sobre-1 {
	max-width: 1300px;
	margin: 0 auto;



}

.about-section-title {

	padding-bottom: 5%;
	font-size: 20px;
	text-transform: uppercase;
	animation: moveToleft 0.7s 1s forwards;
	opacity: 0;
	width: 100%;
	text-align: center;

}

.about-section-title h2 {
	color: #f86a78;
	display: block;
	font-size: 1.4em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
margin: 0 auto;
	width: 200px;
}


.contato-section-title .linha{
	background-color: #f86a78;
	width: 50px;
	padding: 2px;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 5px;
} 



.about-section-title .linha{
	background-color: #f86a78;
	width: 50px;
	padding: 2px;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 5px;
} 

.about-left {
	width: 100%;

}

.about-left .about-img {
	position: relative;
	margin: 0 auto;
	width: 80%;
    padding-bottom:75%;
	opacity: 0;
		animation: moveToTop 0.7s 1s forwards;
}

.about-left .about-img img {

	object-fit: cover;
	border: none;
	box-sizing: border-box;
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.about-right {
	opacity: 0;
	animation: moveToleft 0.7s 1s forwards;
	width: 100%;



}

.about-right h2 {
	font-weight: bold;
	color: #f86a78;
}

.about-right p {
	color: #e5e5e5;
	font-size: 1.1em
}

.about-right-habilidade {
	width: 70%;
	margin-top: 30px;
}

.about-right-habilidade .title p {
	color: #f86a78;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
}

.inf-habilade {
	font-size: 0.9em;
}

/*3 section*/
#portfolio {
	background-color: #051827;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.center-2-1{

}
.center2-2 {
	padding: 0px;
	max-width: 1300px;
	margin: 0 auto;

}

.about-card {
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
	max-width: 1300px;


}

.card-diversos {
	margin: 0 auto;

}

.card-diversos .card {
	position: relative;
	width: 280px;
	height: 460px;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
	box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
	border-radius: 7px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-items: center;

	opacity: 0;
	animation: moveToleft 0.7s 1s forwards;
	padding: 0px;
}


.diversos-card-titulo {
	padding: 0px 5px 0px;
	text-align: center;
}

.diversos-card-titulo p {
	color: #f86a78;
	font-weight: 500;
	font-size: 1.2em;
}


.card-diversos .card:hover {
	-webkit-box-shadow: 0px -1px 25px -12px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px -1px 25px -12px rgba(0, 0, 0, 0.21);
	box-shadow: 0px -1px 25px -12px rgba(0, 0, 0, 0.21);

}

.card-diversos .card .content {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
}



.card-diversos .card .content img {
	height: 200px;
	width: 100%;
}


.card .descricao {

	padding: 0px 15px 0px 15px;

}

.card-diversos .card .descricao p {
	text-align: start;
	color: aliceblue;

}


.card .icone-dev {

	position: absolute;
	width: 100%;
	top: 350;
	color: white;
	cursor: pointer;
}

.card .icone-dev i {
	transition: all 0.2s ease-out;
}

.card .icone-dev i:hover {
	transform: scale(1.2);
}

.card .linguagem {

	position: absolute;
	top: 380;
	padding: 0px 15px 0px 15px;
	font-size: 0.8em;
	width: 100%;

}

.card .mais{
	position: absolute;
	top: 430;
	border: 1px solid;
	background-color: #f86a78;
	width: 100%;
	padding: 5px;
	height: 30px;
	transition: all 0.2s ease-in-out;
}

.card .mais a{
	text-decoration: none;
	display: block;
}

.card .mais a p{
	color: white;
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
}

.card .mais:hover{
	letter-spacing: 0.5px;
	background-color: #2b33b7;
background-image: linear-gradient(43deg, #2b33b7 2%, #2b33b7 40%, #802bb7 71%);

}

.card .linguagem p {
	color: white;

}

.icone-cotacao i:hover {
	color: var(--yellow);
	font-size: 25px;
}


/*3 sessao*/
#section-contato {
	background-color: #051827;
	padding: 5%;
	padding-bottom: 10%;
	padding-top: 0px;
}

.about-contato {
	opacity: 0;
	animation: moveToleft 0.7s 1s forwards;

	max-width: 1300px;
	margin: 0 auto;


}

.contato-section-title {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8%;
	padding-bottom: 5%;
	font-size: 20px;
	text-transform: uppercase;
}

.contato-section-title h2 {
	filter: saturate(100%);
	filter: drop-shadow(0px 1px 25px);
	color: #f86a78;
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.contato-container {
	width: 100%;
	flex-wrap: wrap;


}

.contato-left {
	width: 50%;
	margin: 0 auto;
}

.contato-right {
	width: 50%;
	grid-area: right;



}

.contato-right form {
	width: 100%;
	margin-top: 5%;

}

.contato-row {
	display: flex;
	flex-direction: 0 0 auto;
	width: 100%;
}

.contato-row .contato-row-1 {
	width: 50%;
	margin-right: 10px;
}

.contato-row .contato-row-1 input {
	height: 44px;
	border: 1px solid #f86a78;
	border-radius: 4px;
	width: 100%;
	color: aliceblue;
	padding-left: 10px;
	margin-bottom: 20px;
	outline: none;
	background-color: var(--background-two);
}

.contato-row .contato-row-2 {
	width: 50%;
	margin-left: 10px;
}

.contato-row .contato-row-2 input {
	height: 44px;
	border: 1px solid #f86a78;
	border-radius: 4px;
	width: 100%;
	color: aliceblue;
	padding-left: 10px;
	margin-bottom: 20px;
	outline: none;
	background-color: var(--background-two);
}

.contato-row .contato-row-3 {
	width: 100%;
	margin-left: 10px;
}

.contato-row-3 input {
	height: 44px;
	border: 1px solid #f86a78;
	color: aliceblue;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 10px;
	outline: none;
	background-color: var(--background-two);
}

.contato-row .contato-row-4 {
	width: 100%;
	margin-left: 10px;
}

.contato-row-4 textarea {
	height: 120px;
	border: 1px solid #f86a78;
	border-radius: 4px;
	width: 100%;
	padding: 10px;
	color: aliceblue;
	outline: none;
	background-color: var(--background-two);
}

.contato-row-5 {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.contato-row-5 button {
	text-align: left;
	background-color: #f86a78;
	padding: 10px 35px;
	border: 0;
	border-radius: 50px;
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
	cursor: pointer;
	transition: .4s;
	color: aliceblue;
	transition: all 1s;
}

.contato-row-5 button:hover {
	border: 1px solid white;

}

.contato-location {
	justify-content: center;
	padding-bottom: 40px;
}

.contato-mail {
	justify-content: center;
	padding-bottom: 20px;
}

.contato-call {
	justify-content: center;
	padding-bottom: 30px;
}

.contato-location i {
	display: flex;
	font-size: 22px;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: var(--background-two);
	color: var(--color-main-one);
}


.contato-location h5 {
	padding: 0 0 0 60px;
	line-height: 2;
	font-size: 22px;
	font-weight: 600;
	color: #e5e5e5;
}

.contato-location p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #e5e5e5;
}



.contato-location i {
	display: flex;
	font-size: 22px;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: var(--background-two);
	color: var(--color-main-one);

	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
	color: #f86a78;
	box-shadow: 0px 0px 80px 1px black;
}


.contato-mail h5 {
	padding: 0 0 0 60px;
	line-height: 2;
	font-size: 22px;
	font-weight: 600;
	color: #e5e5e5;

}

.contato-mail i {
	display: flex;
	font-size: 22px;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: var(--background-two);
	color: var(--color-main-one);
	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
	color: #f86a78;
	box-shadow: 0px 0px 80px 1px black;

}


.contato-mail p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #e5e5e5;
}

.contato-call i {
	display: flex;
	font-size: 22px;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: var(--background-two);
	color: var(--color-main-one);
	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
	color: #f86a78;
	box-shadow: 0px 0px 80px 1px black;
}


.contato-call h5 {
	padding: 0 0 0 60px;
	line-height: 2;
	font-size: 22px;
	font-weight: 600;
	color: #e5e5e5;
}

.contato-call p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #e5e5e5;
}


#container-footer {
	padding-top: 50px;
	background-color: #05131a;
}

#container-footer h3 {
	display: flex;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 2%;
	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
	color: #f86a78;
	font-size: 36px;
	font-weight: 700;
	text-transform: capitalize;
	text-align: center;
}

#container-footer p {

	display: flex;
	justify-content: center;
	color: #e5e5e5;
	padding-left: 2%;
	padding-right: 2%;

}

footer .social-media {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 2%;
}

.social-media .social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .social-icon {
	padding-left: 1%;
}


.social-media i {
	font-size: 25px;
	line-height: 35px;
	filter: saturate(100%);
	filter: drop-shadow(0px 2px 25px);
	color: #f86a78;
	border-radius: 50%;
	background: var(--background-two);
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 1;
	padding: 8px 0;
	margin-top: 10px;
}

.about-footer {
opacity: 0;
animation: moveToTop 0.7s 1s forwards;
max-width: 1300px;
margin: 0 auto;
}

.desc_projetos{
background-color: #051827;
padding: 7%;
margin: 0px;
}

.desc_projetos .bloco {
margin: 0 auto;
max-width: 1300px;
width: 100%;
}

.desc_projetos .bloco .bloco-1 {
}
.desc_projetos .bloco .bloco-1 .titlo{
text-align: center;
}

.desc_projetos .bloco .bloco-1 .titlo h3{
color: #f86a78;
display: block;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
filter: saturate(100%);
filter: drop-shadow(0px 2px 25px);
opacity: 0;
animation: moveToTop 0.7s 1s forwards;
}

.desc_projetos .bloco .bloco-1 .bloco-1-1{
display: flex;
flex-wrap: wrap;
padding: 10px;
}

.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc{
border: 1px solid;
padding: 7px;
-webkit-box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
border-radius: 7px;
background: rgba(255, 255, 255, 0.1);
opacity: 0;
animation: moveToTop 0.7s 1s forwards;
}

.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc .title{
font-size: 1.2em;
color: #f86a78;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc .btn{
border: 1px solid;
margin-top: 20px;
width: 100%;
padding:7px;
background-color: #f86a78;
transition: all 0.2s ease-in-out;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc .btn:hover{
letter-spacing: 0.5px;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc .btn a{
display: block;
text-decoration: none;
color:white;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc ul li{
list-style: none;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .desc ul li p{
color: white;
font-size: 1.1em;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .projeto{
opacity: 0;
animation: moveToleft 0.7s 1s forwards;
padding: 7px;
-webkit-box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
-moz-box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
box-shadow: 0px 0px 12px 0px rgba(5,24,39,1);
border-radius: 7px;
background: rgba(255, 255, 255, 0.1);

}

.desc_projetos .bloco .bloco-1 .bloco-1-1 .projeto .title{
	font-size: 1.2em;
	color: #f86a78;
}
.desc_projetos .bloco .bloco-1 .bloco-1-1 .projeto p{
	color: white;
	font-size: 1.1em;
}


.desc_projetos .bloco .bloco-1 .bloco-1-1 .projeto .rodape .title{
	font-size: 1.2em;
	color: #f86a78;
}

.desc_projetos .bloco .bloco-2{
	padding: 15px;
}

.desc_projetos .bloco .bloco-2 .group-card{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;

}

.desc_projetos .bloco .bloco-2 .group-card .card{
	width: 270px;
	margin:  10 auto;
	height:170px;
	opacity: 0;
	animation: moveToleft 0.7s 1s forwards;
	transition: all 0.5s ease-in-out;
}
.desc_projetos .bloco .bloco-2 .group-card .card:hover{

}
.desc_projetos .bloco .bloco-2 .group-card .card img{
	width: 100%;
	border-radius: 10px;
	height: 100%;
}

.bloco .voltar{
	border: 1px solid;
	padding: 7px;
	background-color:  #f86a78;
	width: fit-content;
	margin: 0 auto;
	border-radius: 7px;
	margin-top: 20px;
	opacity: 0;
	animation: moveToTop 0.7s 1s forwards;
}
.bloco .voltar a{
	text-decoration: none;
	display: block;
	color: white;
}